<!DOCTYPE html>
<html>
  <head>
    <title>CatalogoDeFilmes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <h3><%= link_to 'APP Catálogo', root_path %></h3>
    <%= yield %>
  </body>
</html>
